# Twitter Users Engagement Analysis

#### Life Cycle of Machine Learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to Perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choosing Best Model

### 1) Problem Statement

- This projects aims to find out influential Twitter users based on their tweets engagements such as tweets likes, retweet, replay, quote.

 ### 2) Data Collection

Data will be collected from Twitter with help of Tweepy API continuously

#### 2.1 Import Data and Required Packages

In [5]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('data/twitter_data.csv')
df.head(5)

,Unnamed: 0,user_id,tweet_id,Tweet_Text
0,0,20599776,NaN,@causalitybrunch You should understand the bio...
1,1,37636667,NaN,In the late 2000s we were coming out of a peri...
2,2,1293316998429052928,NaN,People who think Marxism ended with Marxs work...
3,3,999100031239118853,1.571649e+18,"But later, weakly reactive B-cells can undergo..."
4,4,2300716447,1.571649e+18,@yopasta Capitalism doesn't equate to eugenics...

In [8]:
df.shape

(27853, 4)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27853 entries, 0 to 27852
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  27853 non-null  int64
 1   user_id     27853 non-null  int64
 2   tweet_id    27850 non-null  float64
 3   Tweet_Text  27853 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 870.5+ KB

In [11]:
df.isna().sum()

Unnamed: 0    0
user_id       0
tweet_id      3
Tweet_Text    0
dtype: int64

there are 3 nonlocal values

In [12]:
df.dropna(inplace=True,axis=1)

In [13]:
df.isna().sum()

Unnamed: 0    0
user_id       0
Tweet_Text    0
dtype: int64

In [14]:
df.duplicated().sum()

0

There are no duplicates values