# MODEL TRAINING
#### 11.1 Importing Data and Packages

In [7]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.metrics import accuracy_score, classification_report
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from imblearn.over_sampling import SMOTE
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
import warnings

In [8]:
df = pd.read_csv('cleaned_twitter_data.csv')

In [9]:
df.head()

,Unnamed: 0,user_id,tweet_id,Tweet_Text,label
0,0,20599776,NaN,understand biology science many fear understan...,science
1,3,999100031239118853,1.571649e+18,later weakly reactive bcells undergo process c...,medicine
2,4,2300716447,1.571649e+18,capitalism doesnt equate eugenics eugenics key...,science
3,5,1886086740,1.571649e+18,syphilis tipsfornewdocs meded medtwitter medic...,medicine
4,6,1006723260384309249,1.571649e+18,twitter thread weaving story racism science go...,science

In [10]:
df.isna().sum()

Unnamed: 0     0
user_id        0
tweet_id       1
Tweet_Text    21
label          0
dtype: int64

In [11]:
df.dropna(axis=1, inplace = True)

In [12]:
df.isna().sum()

Unnamed: 0    0
user_id       0
label         0
dtype: int64